{% extends "base-layout.html" %}
{% block content %}
<h1>Page Not Found</h1>
  <p>Recently I moved all of my article's public artifacts (such as zipped of source code at certain tutorial stage) to Pythonthusiast's Public Folder. If this is the case, you can directly go <a href="https://www.dropbox.com/sh/t4r9zq0a56xxutk/jLLysis3E-">there</a> and download the appropriate zipped source code. Or  you can also go to <a href="https://github.com/pythonthusiast/">Pythonthusiast Github repository</a> to browse to its full source code repository.</p>
<div align="center">
  <img src="/static/dropbox.png"/><p>Feel free to download all the zipped source code from this <a href="https://www.dropbox.com/sh/t4r9zq0a56xxutk/jLLysis3E-">Pythonthusiast public DropBox folder</a></p>
</div>
  <p>Have fun!</p>

{% endblock %}