{% extends "base-layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10 well" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-horizontal" action="{{url_for('signup')}}" method="POST" role="form">
                           {{ form.hidden_tag() }}
                        <div class="heading">
                            <h4 class="form-heading">Publish your biography to the world!</h4>
                        </div>

                        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                            {{form.email.label(class="col-sm-4")}}
                            <div class="col-sm-3">
                                {{ form.email(placeholder="E.g. brucewayne@wayne.com", class="form-control") }} 
                            </div>
                            <p class="col-sm-5 help-block">{{ form.email.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                            {{form.password.label(class="col-sm-4")}}
                            <div class="col-sm-3">
                               {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
                            </div>
                            <p class="col-sm-5 help-block">{{ form.password.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                            {{form.username.label(class="col-sm-4")}}
                            <div class="col-sm-3">
                                {{form.username(placeholder="E.g. ashwinhegde", class="form-control")}}
                            </div>
                            <p class="col-sm-5 help-block">{{ form.username.errors[0] }}</p>
                        </div>
                        <div class="form-group {% if form.agree.errors %} has-error {% endif %}">
                            <label class="checkbox col-sm-7">
                               {{form.agree}} {{form.agree.label}}
                            </label>
                            <p class="col-sm-5 help-block">{{ form.agree.errors[0] }}</p>
                        </div>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>
                </div>         
            </div>
        </div><!--/container-->
    </div>                   
    <div class="col-sm-1">
        
    </div>
</div>

{% endblock %}